<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="DbConnection"
			connectionString="Data Source=TANYALAPTOP;Initial Catalog=lab8oop;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="SMTPAddress" value="gggggg@mail.ru" />
		<add key="SMTPPassword" value="EjiUjsJbUebBJWW0Tgyp" />
		<add key="SMTPHost" value="smtp.mail.ru" />
		<add key="SMTPPort" value="587" />
	</appSettings>
</configuration>